{:deps {org.babashka/http-server {:mvn/version "0.1.11"}
        org.babashka/cli {:mvn/version "0.2.23"}
        io.github.clj-kondo/clj-kondo-bb
        {:git/tag "v2023.01.20" :git/sha "adfc7df"}}
 :tasks
 {:requires ([babashka.cli :as cli])
  :init
  (do (def cli-opts
        (cli/parse-opts *command-line-args* {:coerce {:port :int}}))

      (defn X [cmd]
        (let [args *command-line-args*]
          (if (even? (count args))
            (apply shell cmd args)
            (do (println "Please supply an even number of arguments!")
                (System/exit 1))))))

  repl
  {:doc "Start a repl with the `emmy.env` (or the supplied namespace) loaded."
   :task (let [namespace (or (first *command-line-args*) "emmy.env")
               init      (str "(do"
                              (format "(require '%s) (in-ns '%s)"
                                      namespace namespace)
                              "(println \"Clojure\" (clojure-version))"
                              ")")]
           (shell "clj -M:nextjournal/clerk" "-e" init "-r"))}

  clerk-watch
  {:doc "Runs `user/serve!` with a watcher process generating custom JS."
   :task (X "clojure -X:nextjournal/clerk user/serve!")}

  build-static
  {:doc "Generate a fresh static build."
   :task
   (apply shell
          "clojure -X:nextjournal/clerk"
          *command-line-args*)}

  serve
  {:doc "Serve static assets"
   :requires ([babashka.http-server :as server])
   :task (server/exec
          (merge {:port 8080
                  :dir "public/build"}
                 cli-opts))}

  release-gh-pages
  {:doc "Generate a fresh static build and release it to Github Pages."
   :task
   (do (shell "rm -rf public/build")
       (run 'build-static)
       (shell "npm run gh-pages"))}

  publish-local
  {:doc "Generate a fresh static build and start a local webserver."
   :task
   (do (run 'build-static)
       (run 'serve))}

  lint-deps
  {:requires ([clj-kondo.core :as kondo])
   :doc "Lint dependencies."
   :task (kondo/run!
          {:lint [(with-out-str
                    (babashka.tasks/clojure
                     "-Spath -A:nextjournal/clerk"))]
           :dependencies true})}

  lint
  {:doc "Lint with clj-kondo."
   :task (exec 'clj-kondo.core/exec)
   :exec-args {:lint ["src" "dev" "essays"]}}}}
